<h1 mat-dialog-title>Create Password</h1>
<div mat-dialog-content>
  <form class="password-form" [formGroup]="passwordForm">
    <table class="full-width">
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>URL</mat-label>
            <input matInput formControlName="url">
            <mat-error *ngIf="this.passwordForm.controls.url.hasError('required')">
              URL is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="this.passwordForm.controls.name.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
            <mat-error *ngIf="this.passwordForm.controls.username.hasError('required')">
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" #passInput [type]="hidePassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <button *ngIf="passInput.value" matSuffix mat-icon-button aria-label="Clear" (click)="copyPassword(passInput.value);">
              <mat-icon>content_copy</mat-icon>
            </button>
            <mat-error *ngIf="this.passwordForm.controls.password.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close="false">Cancel</button>
  <button mat-button (click)="onSubmit()" [disabled]="!passwordForm.valid">Save</button>
</div>
