<mat-toolbar>
  <h1 class="p-3">Passwords Management</h1>
  <span class="spacer"></span>
  <button mat-flat-button (click)="openDialogToCreatePassword();" color="primary">
    Add New Password
  </button>
</mat-toolbar>
<div class="simple-filter">
  <mat-form-field appearance="fill" class="simple-filter-input">
    <mat-label>Filter by Name</mat-label>
    <input matInput #filterValue>
  </mat-form-field>
</div>
<div class="container">
  <div class="row">
    <div class="pass-card" *ngFor="let password of passwords | filterPasswords: filterValue.value">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{password.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button (click)="this.openDialogToEditPassword(password)">EDIT</button>
          <button mat-button (click)="this.deletePassword(password.id)">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
